*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // setting for 1rem
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    display: inline-grid;
}
@media screen and (max-width: 880px) {
    body {
        // display: flex;
        // flex-direction: column;
    }
  }